<div class="row">
  <h2>Add Club</h2>

  <form [formGroup]="clubForm" autocomplete="off" (ngSubmit)="addClub(clubForm.value)" novalidate>

    <div class="col-md-12">
      <label>Name: <input formControlName="name"></label>
    </div>
    <div class="col-md-12">
      <label>City: <input formControlName="city"></label>
    </div>
    <div class="col-md-12">
      <label>Coach: <input formControlName="coach"></label>
    </div>
    <div class="col-md-12">
      <label>Ground: <input formControlName="ground"></label>
    </div>
    <div class="col-md-12">
      <label>League: <input formControlName="league"></label>
    </div>
    <div class="col-md-12">
      <label>Capacity: <input type="number" formControlName="capacity"></label>
    </div>
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary" >Add</button>
    </div>
  </form>
</div>