<div class="row">
  <h2>Add Club</h2>
  <div class="col-md-12">
    <label>Name: <input></label>
  </div>
  <div class="col-md-12">
    <label>City: <input></label>
  </div>
  <div class="col-md-12">
    <label>Coach: <input></label>
  </div>
  <div class="col-md-12">
    <label>Ground: <input></label>
  </div>
  <div class="col-md-12">
    <label>League: <input></label>
  </div>
  <div class="col-md-12">
    <label>Capacity: <input type="number"></label>
  </div>
  <div class="col-md-12">
    <button class="btn btn-primary">Add</button>
  </div> 
</div>