<br>
<br>
<br>
<br>
<table class="table  table-striped">
  <thead>
    <tr>
      <td><h3>You are viewing : {{ club.name + ' ' + club.city }}  </h3></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td>{{ club.name }}</td>
    </tr>
    <tr>
      <td>City</td>
      <td>{{ club.city }}</td>
    </tr>
    <tr>
      <td>Coach</td>
      <td>{{ club.coach }}</td>
    </tr>
    <tr>
      <td>Ground</td>
      <td>{{ club.ground }}</td>
    </tr>
    <tr>
      <td>League</td>
      <td>{{ club.league }}</td>
    </tr>
    <tr>
      <td>Capacity</td>
      <td>{{ club.capacity }}</td>
    </tr>

  </tbody>
</table>


 